.active{
    color: red;
}

/*-------------Header-----------*/
.Log{
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;

}

.logIn-SignIn{
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logIn-SignIn:nth-child(2){
    background-color: purple;
    border-radius: 20px;
    width: 100px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bold;   
}

.logIn-SignIn:first-child{
    width: 100px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bold;
}


/*-------------Footer-----------*/
.fixed-bottom a{
    text-decoration: none; 
    color: inherit;
}