/*form {
    max-width: 500px;
    margin: 0 auto;
    background: white;
    padding: 10px 20px;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: 1px 2px 10px #ddd;
}
  
form input {
    width: 100%;
    padding: 10px 5px;
    outline: none;
    font-size: 16px;
    font-weight: 500;
}
  
.btn_container {
    text-align: center;
    margin-bottom: 10px;
}

.todo {
    margin-top: 20px;
    background: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 2px 10px #ddd;
  }
  .todo input {
    cursor: pointer;
    width: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 28px;
    font-weight: 500;
  }
  .button-complete,
  .button-delete,
  .button-edit {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    border-radius: 50%;
  }
  .todo_container {
    width: 50%;
    margin: 0 auto;
  }
  */