body {
    font-size:  25px;
    padding: 0 15px 0 15px;
  }

.search{
    width: 300px;
}

.background-image {
    width: 100%;
    height: 100%;
  }


.current{
    background-color: #e91e63; 
    border-radius: 20px 20px;
    margin-right: 10px ;
    color: white; 
  }
